# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build files
src
tsconfig.json

# Development and testing
.env
.env.*
.env.example
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
example.ts

# CI/CD
.woodpecker.yml
.github
.gitlab-ci.yml
.claude

# Docker
Dockerfile
.dockerignore

# Other
.gitignore
.git
.gitattributes
jest.config.js
